body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.revit.viewer,
.revit.viewer canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}