.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
.babelrc
.gitignore

.gulp-scss-cache/
.sass-cache/
.vscode/

*.tgz
*.log
gulpfile.js
tsconfig.json
tslint.json
webpack.config.js
yarn.lock

src/*.ts
scss/*
demo/
node_modules/
webpack/